@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;;
}
section .circle{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: darkred;
clip-path: circle(70% at right -20%);

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .nav{
    position: relative;
    display: flex;
}
header .nav li{
    list-style: none;
}
header .nav li a{
    display: inline-block;
    color: #fff;
    font-weight: 500px;
    text-decoration: none;
    margin-left: 40px;

}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .textbox h2{
    color: #fff;
    font-size: 3em;
    margin-top: 10px;
    line-height: 1.4em;
    font-size: 700;
}
.content .textbox p{
color: #fff;
} 
.content .textbox a{
display: inline-block;
margin-top: 20px;
padding: 8px 20px;
background: #e51e2a;
color: #fff;
border-radius: 40px;
font-weight: 500;
letter-spacing: 1px;
text-decoration:none ;

}
.sci{

    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.sci li a:hover{
    background: #e51e2a;
    transform: translateY(-10px);
}
.sci li a img{
    filter: invert(1);
    transform: scale(0.5);
}
footer{
    text-align: center;
    color: gray;
    padding: 50px;
    background-color: black;
  }
  
  footer span{
    color: var(--primary-color);
    font-weight: bold;
     font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
  }

/**********slider*********/
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 600px;
    display: flex;
    justify-content: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .content .imgbox{
width: 500px;
display: flex;
justify-content: flex-end;
  }
  .content .imgbox img{
    max-width: 150px;
  }
  .swiper-slide img{
    position: absolute;
    bottom: 0;
    min-height: 50%;
  }

 
.swiper-3d .swiper-slide-shadow-left ,
.swiper-3d .swiper-slide-shadow-right
{
    background-image: none;
}



@media (max-width: 991px){

    header{
        padding: 40px;
    }
    section{
        padding: 150px 40px;
    }
    .sci{
        left: 40px;
    }
    .content{
        flex-direction: column;
    }
    .content .textbox,
    .content .imgbox{
        max-width: 100%;
    }
    header .nav{
        display: none;
    }
      header .nav.active 
      {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e51e2a;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     
    }
    header .nav li a {
      
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }
    .toggle{
        position: fixed;
        right: 40px;
        width: 30px;
        height: 30px;
        background: url(menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer; 
        z-index: 10000;
    }
    
 .toggle.active{
    background: url(close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
 }

}
